*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #f0eca8;
    --secondary-color:#37ca32;
    --tertiary-color:#03033f;
    --extra-color:#f1ea55;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    overflow-x: hidden;
    color:var(--tertiary-color) ;
}
/*Header*/
.header{
    background-color: var(--primary-color);
    padding: 30px 20px;
    font-size: 20px;
    height: fit-content;
}

.header img{
   width: 70px;
    height: 70px;
    padding: 10px; 
}

.nav-bar{
    display: flex;
}

nav {
    padding: 10px 50px;
    display: flex;
    justify-content: space-around;
    flex: 1;
    float: right;
}

nav a{
    color: var(--secondary-color);
}

nav a :hover{
    background-color: var(--secondary-color);
}

.header .nav-bar .image img{
    height: auto;
}

.button {
    border: 1px solid lightgray;
    background: white;
    padding: 10px 20px;
    border-radius: 8px;
    color: gray;
    font-size: 14px;
    cursor: pointer;
}

.button2 {
    border: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    margin:20px 0;
    cursor: pointer;
    margin: 20px 0;
}

.button3 {
    border:none;
    background-color:var(--extra-color);
    color: var(--tertiary-color);
    padding: 10px 30px;
    border-radius: 8px;
}

select {
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
}

select :hover {
    background-color: var(--primary-color);
}

.section-1 a{
    color: var(--tertiary-color);
    font-size: 10px;
    text-decoration: underline;
}

.capture img{
    width: max-content;
    height: max-content;
    float: right;
    margin-right: 70px;
}

/*section*/
.section-1 , .section-2 , .section-3{
    display: grid;
    padding: 30px;
    text-align: center;
}

.section-02 {
    display: grid;
    padding: 30px;
    text-align: center;
    background-color: var(--primary-color);
}

.grid-display{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.grid-display .grid-01 img{
    width: 100%;
    padding-left: 50px;
    align-items: center;
}

.grid-display, li, p {
    margin-top: 10px;
}

.work-grid-1 {
    background-color: #f0d4d9;
    padding: 10px;
    border-radius: 10px;
    height: 150px;
    text-align: center;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.322);
}

.work-grid-2 {
    background-color:#a7f7a7;
    padding: 10px;
    border-radius: 10px;
    height: 150px;
    text-align: center;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.322);
}

.work-grid-3 {
    background-color:#d1e7ee;
    padding: 10px;
    border-radius: 10px;
    height: 150px;
    text-align: center;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.322);
}

.work-grid-4 {
    background-color:lightgrey;
    padding: 10px;
    border-radius: 10px;
    height: 150px;
    text-align: center;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.322);
}

.grid-1 {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.322);
}

.grid-7 {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.322);
}

.section-03 {
    display: grid;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.section-04{
    padding: 5% 10%;
}

.grid-6 img{
    align-items: center;
    width: 30%;
}

/*section3*/
.container {
    padding: 20px;
}

.container .grid-display-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.image {
    padding-left: 10px;
}

.button4{
    border: 1px solid var(--secondary-color);
    background-color: #fff;
    color: var(--secondary-color);
    padding: 10px 30px;
    border-radius: 8px;
    margin: 20px 0px;
}

.button4:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    color: #fff;
}
/*section4*/
.grid-display-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.grid-display-3 .program {
    padding: 20px;
}

.grid-display-3 .program h3{
    color: var(--secondary-color);
}

.program .dropdown-container h3{
    margin: 30px 0px;
}

.section-4 {
    background-color: var(--primary-color);
    text-align: justify;
}

/*section5*/
.grid-display-5  {
    background-color: var(--secondary-color);
    border-radius: 20px;
    height: 250px;
}

.grid-display-5 h3{
    padding-top: 70px;
    padding-left: 70px;
}
.section-5 .container .grid-display-5 img{
    max-height: 200px;
    justify-content: center;
    padding: 0px 50px;
    cursor: pointer;
}

/*footer*/
.grid-2 img{
    width: 70px;
    height: 70px;
    padding: 10px;
}

input{
    padding: 5px;
    border: none;
    border-bottom:1px solid var(--secondary-color);
}

footer a{
    color: var(--tertiary-color);
    font-size: 10px;
    text-decoration: underline;
}
/*login page*/
.login{
    background-color: var(--secondary-color);
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;
}

.logo img{
    width: 70px;
    height: 70px;
    padding: 10px;
    align-items: center;
}

.container-login{
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin:30px auto;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.322);
    width: 80%;
    max-width: 400px;
    min-width: 200px;
    cursor: pointer;
}

.container-login input{
    margin-top:10px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    width: 80%;
}

.container-login h2, p {
    padding: 10px 0px;
}

/*homepage*/
.side-bar {
    box-sizing: border-box;
    text-align: center;
    line-height: 1.5;
    width: 30%;
    background-color: var(--tertiary-color);
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
    color: var(--primary-color);
    font-size: 14px;
}
.content{
    background-color: lightgray;
    width: 100%;
    text-align: center;
}

.password{
    margin: 10px 50px;
    background-color: white;
    border-radius: 10px;
}

/*dropdown*/
.dropdown-container i{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--secondary-color);
    min-width: 160px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.322);
    z-index: 1;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
    background-color: var(--secondary-color);
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--primary-color);
}

#menu-toggle {
    display: none;
}

/*responsiveness*/
@media screen and (max-width:1024px) {
    .menu-icon {
        display: block;
    }

    .dropdown-container {
        display: none; 
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 10px;
        left: 0;
    }

    .dropdown-container a {
        padding: 10px;
    }

    #menu-toggle:checked + .menu-icon + .dropdown-container {
        display: flex;
    }

    .capture img{
        width: 100px;
    }

    .grid-display{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .grid-display-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
    .container .grid-display-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
    .section-5 .container .grid-display-5 img{
        max-height: 90px;
        justify-content: center;
        padding: 0px 20px;
        cursor: pointer;
    }
};

/*login page*/
@media (max-width: 600px) {
    .container-login {
        max-width: 600px;
    }
}

@media (max-width: 400px) {
    .container-login {
        width: 95%;
    }
}